<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>

    <add name="DefaultConnection"
         connectionString="Data Source=sqlserver.nalysa.corp;Initial Catalog=CVScreening;Persist Security Info=True;User ID=sa;Password=123456;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


    <add name="CVScreeningEFContextConnection"
         connectionString="metadata=res://*/EntityFramework.CVScreeningEFModel.csdl|res://*/EntityFramework.CVScreeningEFModel.ssdl|res://*/EntityFramework.CVScreeningEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver.nalysa.corp;initial catalog=CVScreening;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

</configuration>