<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">


  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->
  <targets>

    <target name="file"
    xsi:type="File"
    fileName="E:/Logs/logfile.csv" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" >
      <layout xsi:type="CsvLayout">
        <quoting>Auto</quoting>
        <quoteChar>"</quoteChar>
        <customColumnDelimiter>Custom</customColumnDelimiter>
        <delimiter>Auto</delimiter>

        <!-- start repeated-->
        <column layout="${shortdate:universalTime=True} ${time}" name="Time Stamp"/>
        <column layout="${level}" name="Log Level"/>
        <column layout="${message}" name="Message"/>
        <!-- end repeated-->

      </layout>
    </target>
  </targets>  
  
  
</nlog>