<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file"
    xsi:type="File"
    fileName="${basedir}/Logs/logfile.csv">
      <layout xsi:type="CsvLayout">
        <quoting>Auto</quoting>
        <quoteChar>"</quoteChar>
        <customColumnDelimiter>Custom</customColumnDelimiter>
        <delimiter>Auto</delimiter>

        <!-- start repeated-->
        <column layout="${shortdate:universalTime=True} ${time}" name="Time Stamp"/>
        <column layout="${level}" name="Log Level"/>
        <column layout="${message}" name="Message"/>
        <!-- end repeated-->
        
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
