@using CVScreeningWeb.Helpers
@using CVScreeningWeb.Resources
@using Kendo.Mvc.UI
@model CVScreeningWeb.ViewModels.ClientCompany.ClientCompanyManageViewModel

@{
    <div class="form-group">
        @Html.Bootstrap().Label(ClientCompany.Object).Class(CSSHelper.LABEL_CONTROL_CLASS)
        <div class="col-md-7">
            @(Html.Kendo().DropDownListFor(m => m.Id)
                  .HtmlAttributes(new {@class = "form-control"})
                  .OptionLabel(ClientCompany.SelectCompany)
                  .DataTextField("ClientCompanyName")
                  .DataValueField("ClientCompanyId")
                  .DataSource(source => source.Read(read => read.Action("GetClientCompanies", "ClientCompany"))))
        </div>
    </div>
}