@using CVScreeningWeb.Helpers

@{
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m).Class(CSSHelper.LABEL_CONTROL_CLASS)
        <div class=@CSSHelper.INPUT_DIV_CLASS>
            @Html.Bootstrap().TextAreaFor(m => m).Class("form-control").Readonly()
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
}
