@using CVScreeningWeb.Helpers
@using CVScreeningWeb.Resources
@using Resources

<li class="dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">
        @Menu.Client<b class=" fa fa-angle-down"></b>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink(Menu.ClientCompany, "Index", "ClientCompany")</li>
        <li>@Html.ActionLink(Menu.ClientAccount, "Index", "ClientAccount")</li>
    </ul>
</li>