@using CVScreeningWeb.Helpers
@using CVScreeningWeb.Resources
@using Resources

<li class="dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">Production <b class=" fa fa-angle-down"></b></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink(Menu.Screening, "Index", "Screening")</li>
    </ul>
</li>