<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Pre-employment Screening</title>
        <link href="@(Server.MapPath("~/Content/mysite.css"))" rel="stylesheet">
    </head>
    <body style="border: 0; margin: 0;">
        <div style="font-family: Arial, sans-serif;">
            @RenderBody()
        </div>
    </body>
</html>