@model HandleErrorInfo


<div class="container ">
    <section class="error-wrapper text-center">
        <div class="error-desk" style="background: none;">
            <img src="/Images/500.png" alt="">
            <br />
            <h2>OOOPS!!!</h2>
            <p class="nrml-txt-alt">Something went wrong.</p>
            <p>Why not try refreshing you page? Or you can contact our support integrity@nalysa.com if the problem persists.</p>
            <a href="/" class="back-btn" style="color: #B92839;"><i class="fa fa-home"></i> Back To Home</a>

        </div>
    </section>
</div>